/* .horizontal-scroll {
  position: absolute;
  left: 10px;
  top: 0px;
  width: 100vh;
  height: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  padding: 30px;
  transform-origin: right top;
  transform: rotate(-90deg) translate3d(0,-100vh,0); */

  /* > * {
    transform-origin: left top;
    transform: rotate(90deg) translate3d(0,calc(-100vh + 60px),0);
  }

  &__block {
    width: calc(100vh - 60px);
    height: calc(100vh - 60px);
    background-color: white;
    position: relative;

    &:not(:first-child) {
      margin-top: 30px;
    }
  } */
/* } */
/* .horizontal-scroll__block{
  height: 1200px;
  margin-bottom: 100px;
  transform-origin: left top;
  transform: rotate(90deg) translate3d(0,calc(-100vh + 60px),0);
  position:
} */
html { height: 100%; overflow:auto; }
body { height: 100%; }

.mothersmatter{
  position: fixed;
  left: 88%;
  top: 0;
  width: 4370px;
  /* height: 100%; */
  /* background-color: white; */
  /* transition: all .1s linear; */
  display: flex;
  /* display:none; */
  opacity:0.6;
}
.mothersintro,.inspire,.achievement,.donatesection{
  background-color: white;
  height: 100vh;
border: solid 1px white;
}

.scroll{
  width: 10000vh;
  height: 10000vh;
  /* overflow-y: scroll; */
  z-index: 0;
  opacity:0;
  background-color: white;
}
.bigtitle{
  font-family: times;
  font-size: 48px;
  font-weight: normal;
}

.mothersintro{
  padding-left: 250px;
  padding-top: 30vh;
  width: 800px;
  flex:1;

}
.mothersintro img{
  width: 600px;
margin-top: 10px;
position: absolute;
left: 500px;
top: 230px;
}
.maintitle{
  position: absolute;
left: 100px;
top: 255px;
}
.inspire{
  flex: 1
}
.inspire img{
  width: 350px;

}
.achievement{
  flex: 1;

}
.donatesection{
  flex: 1;
}
.revealarrow{
  height: 80vh;
  margin-top:10vh;
  background-color: white;
      width: 260px;
      border: 4px solid white;
}
.helperarrow{
  position: absolute;
bottom: 400px;
      left: 15px;
        animation: helperarrow 3s infinite;
}
#donateimage{
  width: 700px;
  transition: width .2s ease;
}
.parralax1{
  /* transition: all .1s linear; */
}
.italicsmall{
  font-style: italic;
  font-size: 12px;
  color: #868686;
  position: absolute;
top: 290px;
left: 100px;
}
.paragraph{
  position: absolute;

    font-size: 12px;
    letter-spacing: 0.04rem;
    line-height: 1.9;
}
.firstparagraph{
  /* left: 630px;
    top: 460px;
    width: 300px; */
    left: 100px;
top: 340px;
width: 300px;
}
.secondparagraph{
  position: absolute;
      top: 150px;
      left: 36%;
      width: 320px;

}
.thirdparagraph, .fourthparagraph{
  width: 400px;
}
.inspiretitle{
  font-size: 120px;
      z-index: 3;
      position: absolute;
      top: 505px;
      left: 1400px;

}
.achivementimg2{
  position: absolute;
left: 50%;
top: 120px;
width: 300px;
}
.achivementimg1{
    position: absolute;
    top: 405px;
    left: 61%;
    width: 500px;

}
.achivementtitle{
  font-size: 86px;
position: absolute;
top: 380px;
left: 58%;
}
.thirdparagraph{
  position: absolute;
top: 490px;
left: 66%;
}
.donatesection img{
  position: absolute;
right: 0px;
top: 145px;
}
.donatetitle{
  font-size: 120px;
    margin-top: 10%;
}
.fourthparagraph{
  font-style: italic;
    margin-top: 30px;
    font-family: times;
    font-size: 20px;
    margin-left: 320px;
}
.donatebutton{
  position: absolute;
  margin-top: 80px;
    margin-left: 320px;
}

.donatebutton:hover {
  cursor: pointer;
}
@keyframes helperarrow {
  0%{
    left:15px;
  }
  50%{
    left:55px;
  }
  100%{
    left:15px;
  }
}
